 
.yellow-background {
    background-color: yellow;
}

.orange-background {
    background-color: orange;
    color: black;
}



#gender {
    background-color: lightblue;
}

textarea.form-element {
    background-color: yellowgreen;
}